body {
  width: auto;
  min-width: 300px;
  display: block;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

h1 {
  font-size: 1rem;
}

.Header {
	display:flex;
	flex-direction: row;
  background-color: white;
  color: rgba(25, 165, 223);
  justify-content: space-between;
}

.hamburger-menu {
  width: 35px;
  height: 35px;
}

#header-avatar {
  width: 35px;
  height:35px;
}
